.root {
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    background-color: transparent;

    padding: 8px 13px;
    font-size: 20px;
    transition: background 0.15s linear;

    &:hover {
        background: rgba(255, 255, 255, 0.1);
        cursor: pointer;
    }
    &.black {
        color: #000;
        border: 1px solid #000;
        margin-top: 15px;
    }
    &.white {
        color: #fff;
        border: 1px solid #fff;
    }
}


